body {
    background:#F7EFE5

  }
.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .card {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    font-size: 150%;
    text-align:center;
    background: #C3ACD0;
    padding-top: 10%;
  }

  .card1 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/pollo.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }  

  .card2 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/papas.png'); /* Reemplaza 'papas.png' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card3 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/otros.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .card4 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/plato.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cardc1 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/1.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 
  
  .cardc2 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/2.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardc3 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/3.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardc4 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/4.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardp1 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/alita.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardp2 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/pecho.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cardp3 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/pierna.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardpi1 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/pierna.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardpi2 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/piernita.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardpi3 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/muslo.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardv1 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/ensalada.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardv2 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/hamburguesa.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .cardv3 {
    width: 100%;
    height: 12rem;
    border-radius: 3%;
    text-align: center;
    background-image: url('imagenes/salchichas.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } 

  .finish-button {
    padding: 10px 20px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

/* CSS DEL TICKET */
.ticket {
  width: 80%;
  height: 70vh;
  font-size: 200%;
  background-color: #C3ACD0;
  padding: 10px;
  border-radius: 3%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.ticket p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 5px 0; /* Ajuste el valor del margen superior e inferior según sea necesario */
  padding: 0;
  text-align: center;
}

.boton {
  margin-bottom: 10px;
  text-align: center;
  height: 80px;
  background-color: #FFFBF5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

    /* CSS PARA IMPRESIÓN */
    @media print {
      .boton {
        display: none; /* Oculta los botones al imprimir */
      }

      .fecha-hora {
        display: block; /* Muestra la fecha y hora al imprimir */
      }
    }

/* FIN DEL CSS DEL TICKET */
